{% extends 'base.html' %}
{% load static %}
{% block title %}My Listings{% endblock %}


<body>

    {% block content %}
    <main class="main">

        <!-- user-profile -->
        <div class="user-profile py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        {% include 'components/user-profile-area.html' %}
                    </div>
                    <div class="col-lg-9">
                        <div class="user-profile-wrapper">
                            <div class="user-profile-card profile-ad">
                                <div class="user-profile-card-header">
                                    <h4 class="user-profile-card-title">My Listing</h4>
                                    <div class="user-profile-card-header-right">
                                        <div class="user-profile-search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search...">
                                                <i class="far fa-search"></i>
                                            </div>
                                        </div>
                                        <a href="#" class="theme-btn"><span class="far fa-plus-circle"></span>Add Listing</a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Car Info</th>
                                                    <th>Brand</th>
                                                    <th>Publish</th>
                                                    <th>Price</th>
                                                    <th>Views</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- pagination -->
                                    <div class="pagination-area">
                                        <div aria-label="Page navigation example">
                                            <ul class="pagination my-3">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true"><i class="far fa-angle-double-left"></i></span>
                                                    </a>
                                                </li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true"><i class="far fa-angle-double-right"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- user-profile end -->

    </main>
    {% endblock content %}

    {% block scripts %}
    <script type="module">
        import { getProfile, handleProfileImageChange, updateProfileInfo, logout } from '{% static "js/profiles.js" %}';
        var loginUrl = "{% url 'frontend:login' %}";
        
        document.addEventListener('DOMContentLoaded', function() {
            var logoutBtn = document.getElementById('profile-logout');
        
            logoutBtn.addEventListener('click', function() {
                (async () => {
                    const response = await logout(loginUrl);
                })();
            });
        });
        
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('profile-listings-link').classList.add('active');
            
            console.log("DOMContentLoaded event fired");
            (async () => {
                const data = await getProfile(loginUrl);
                console.log("data: ", data);

                if (data.profile_picture) {
                    document.getElementById('profile-picture').src = data.profile_picture;
                } else {
                    document.getElementById('profile-picture').src = "{% static 'img/account/user.png' %}";
                }
                document.getElementById('full-name').innerText = data.user.first_name + " " + data.user.last_name;
                document.getElementById('email1').innerText = data.user.email;
                document.getElementById('chats-count').innerText = data.chats_count;

            })();
        });

        document.querySelector('.profile-img-file').addEventListener('change', function() {
            (async () => {
                const response = await handleProfileImageChange(loginUrl, this.files[0]);
                const data = await response.json();
                document.getElementById('profile-picture').src = data.profile_picture;
                console.log("Profile picture updated successfully:", data);
                
            })();
        });

        document.addEventListener('DOMContentLoaded', function() {
        
            // Get the access token from localStorage
            const accessToken = localStorage.getItem('access_token');
            
            // URL for the GET request (you can change it later)
            const url = 'http://127.0.0.1:8000/api/myprofile/mylistings'; // Replace with your actual URL
            
            // Fetch data from the URL with the access token
            fetch(url, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${accessToken}`,
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json()) // Convert the response to JSON
            .then(data => {
                console.log('Data:', data);
                // Assuming 'data' is the structure you provided above
                
                // Loop through the results and populate the HTML
                data.results.forEach((car, index) => {
                    // Get necessary data from the response
                    const carInfo = car.main_features;
                    const price = car.price.price;
                    const priceCurrency = car.price.currency;
                    const status = car.is_active ? 'Active' : 'Inactive';
                    const brand = car.main_features.make.title;
                    const views = car.views;
        
                    const row = document.querySelector(`.table tbody`).insertRow(index);
        
                    row.innerHTML = `
                        <td>
                            <div class="table-list-info">
                                <a href="#">
                                
                                    <img src="${car.first_photo.photo}" alt="">
                                    <div class="table-list-content">
                                        <h6>${carInfo.make.title} ${carInfo.model.title}</h6>
                                        <span>Car ID: #${car.id}</span>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>${brand}</td>
                        <td>${car.created_at}</td>
                        <td>${price} ${priceCurrency}</td>
                        <td>${views}</td>
                        <td><span class="badge badge-${car.is_active ? 'success' : 'danger'}">${status}</span></td>
                        <td>
                            <a href="#" class="btn btn-outline-secondary btn-sm rounded-2" data-bs-toggle="tooltip" title="Details"><i class="far fa-eye"></i></a>
                            <a href="#" class="btn btn-outline-secondary btn-sm rounded-2" data-bs-toggle="tooltip" title="Edit"><i class="far fa-pen"></i></a>
                            <a href="#" class="btn btn-outline-danger btn-sm rounded-2" data-bs-toggle="tooltip" title="Delete"><i class="far fa-trash-can"></i></a>
                        </td>
                    `;
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        
    });
        
    </script>

    {% endblock scripts %}

</body>

</html>