<!-- top header -->
<div class="header-top">
    <div class="container">
        <div class="header-top-wrapper">
            <div class="header-top-left">
                <div class="header-top-contact">
                    <ul>
                        <li><a href="/cdn-cgi/l/email-protection#ed84838b82ad88958c809d8188c38e8280"><i class="far fa-envelopes"></i>
                                <span class="__cf_email__" data-cfemail="2f464149406f4a574e425f434a014c4042">[email&#160;protected]</span></a></li>
                        <li><a href="tel:+21236547898"><i class="far fa-phone-volume"></i> +2 123 654 7898</a>
                        </li>
                        <li><a href="#"><i class="far fa-alarm-clock"></i> Sun - Fri (08AM - 10PM)</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-top-right">
                <div class="header-top-link">
                    <a href="#"><i class="far fa-arrow-right-to-arc"></i> Login</a>
                    <a href="#"><i class="far fa-user-vneck"></i> Register</a>
                </div>
                <div class="header-top-social">
                    <span>Follow Us: </span>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>