{% load static %}
<!-- breadcrumb -->
<div class="site-breadcrumb" style="background: url({% static 'img/breadcrumb/01.jpg' %}); height: 400px; background-size: cover; background-position: center;">
    <div class="container">
        <h2 class="breadcrumb-title">{{ breadcrumb_title }}</h2>
        <ul class="breadcrumb-menu">
            <li><a href="{% url 'frontend:home' %}">Home</a></li>
            <li class="active">{{ breadcrumb_active }}</li>
        </ul>
    </div>
</div>
<!-- breadcrumb end -->