<!-- find car form -->
<div class="find-car">
    <div class="container">
        <div class="find-car-form">
            <h4 class="find-car-title">Let's Find Your Perfect Car</h4>
            <form action="#">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Car Condition</label>
                            <select class="select">
                                <option value="1">All Status</option>
                                <option value="2">New Car</option>
                                <option value="3">Used Car</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Brand Name</label>
                            <select class="select">
                                <option value="1">All Brand</option>
                                <option value="2">BMW</option>
                                <option value="3">Ferrari</option>
                                <option value="4">Marcediz Benz</option>
                                <option value="5">Hyundai</option>
                                <option value="6">Nissan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Car Model</label>
                            <select class="select">
                                <option value="1">All Model</option>
                                <option value="2">3-Series </option>
                                <option value="3">Carrera</option>
                                <option value="4">G-TR</option>
                                <option value="3">Macan</option>
                                <option value="3">N-Series</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Choose Year</label>
                            <select class="select">
                                <option value="1">All Year</option>
                                <option value="2">2023</option>
                                <option value="3">2022</option>
                                <option value="4">2021</option>
                                <option value="5">2020</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Choose Milieage</label>
                            <select class="select">
                                <option value="1">All Milieage</option>
                                <option value="2">2000 Miles</option>
                                <option value="3">3000 Miles</option>
                                <option value="4">4000 Miles</option>
                                <option value="5">5000 Miles</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Price Range</label>
                            <select class="select">
                                <option value="1">All Price</option>
                                <option value="2">$1,000 - $5,000</option>
                                <option value="3">$5,000 - $10,000</option>
                                <option value="4">$15,000 - $20,000</option>
                                <option value="5">$20,000 - $25,000</option>
                                <option value="6">$25,000 - $30,000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Body Type</label>
                            <select class="select">
                                <option value="1">All Body Type</option>
                                <option value="2">Sedan</option>
                                <option value="5">Compact</option>
                                <option value="3">Coupe</option>
                                <option value="4">Wagon</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 align-self-end">
                        <button class="theme-btn" type="submit"><span class="far fa-search"></span> Find Your
                            Car</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- findcar form end -->