
{% extends 'base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/custom-css.css' %}">
{% endblock %}

<body>
    
    {% block content %}
    <main class="main">

        {% include 'components/breadcrumb.html' %}
        <div class="login-area py-120">
            <div class="container">
                <div class="col-md-5 mx-auto">
                    <div class="login-form">
                        <div class="login-header">
                            <img src="{% static 'img/logo/logo.png' %}" alt="">
                            <p>შექმენით ახალი პაროლი თქვენი Motex ანგარიშისთვის</p>
                        </div>
                        <div id="success-message" style="color: red; display: none;"></div>
                        <form action="#">
                            <div class="form-group">
                                <label>ახალი პაროლი</label>
                                <div class="input-container">
                                    <input type="password" class="form-control" placeholder="შეიყვანეთ ახალი პაროლი" id="password">
                                    <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('password')"></i>
                                    <div id="error-password" style="color: red; display: none;"></div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label>გაიმეორეთ ახალი პაროლი</label>
                                <div class="input-container">
                                    <input type="password" class="form-control" placeholder="გაიმეორეთ ახალი პაროლი" id="confirm-password">
                                    <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('confirm-password')"></i>
                                    <div id="error-password-2" style="color: red; display: none;"></div>
                                </div>
                            </div>
                            <div id="error-message" style="color: red; display: none;"></div>
                            <div class="d-flex align-items-center">
                                <button type="submit" onclick="resetPassword(event, loginUrl)" class="theme-btn"><i class="far fa-lock"></i> პაროლის აღდგენა</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'js/auth.js' %}"></script>
    
    <script>
        var loginUrl = "{% url 'frontend:login' %}";
        function togglePasswordVisibility(inputId) {
            var inputField = document.getElementById(inputId);
            var currentType = inputField.type;
            inputField.type = currentType === "password" ? "text" : "password";
            
            var icon = document.querySelector(`#${inputId} + .toggle-password`);
            icon.classList.toggle('fa-eye-slash');
            icon.classList.toggle('fa-eye');
        }
    </script>    
    
    {% endblock scripts %}

</body>

</html>
